<div id='currentScore'>Current Score: </div>
<div id='highScore'>High Score: </div>
<h1>Butterfly Catcher</h1>
<% if @game.has_attribute?(:_id)  %>
  <h2><%= 'Catch Butterflies!'%></h2>
<% else %>
  <button>Start Game</button>
<% end %>
<script>
  window.gameID = "<%= @game._id %>";
  window.currentScore = parseInt("<%= @game.currentScore %>");
  window.highScore = parseInt("<%= @game.highScore %>");
  window.butterflyName = '<%= @butterfly.name %>'
  window.butterflyDescription ='<%= @butterfly.description %>' 
  window.butterflyPointValue ='<%= @butterfly.pointValue %>'
</script>
<script>
// setUpBoard = function(gameData) {
//   $("<div id='gameID'>Game ID: </div>").appendTo('body');
//   $("<div id='highScore'>High Score: </div>").appendTo('body');
//   $("<div id='currentScore'>Current Score: </div>").appendTo('body');
//   $('#gameID').append(gameData.responseJSON._id.$oid);
//   $('#highScore').append(gameData.responseJSON.highScore)
//   $('#currentScore').append(gameData.responseJSON.currentScore)
// }
</script>