<div id='container'>
  <div id='jar'></div>
  <h1>Butterfly Catcher</h1>
  <h2><%= 'Catch Butterflies!'%></h2>
  <div id='score-board'>
    <div id='currentScore'>Current Score: <%= @game.currentScore %></div>
    <div id='highScore'>High Score: <%= session[:game].highScore %> </div></br>
    <div id='instructions'> Use arrow keys </div>
  </div>
  <script>
    window.gameID = "<%= @game._id %>";
    window.currentScore = parseInt("<%= @game.currentScore %>");
    window.highScore = parseInt("<%= @game.highScore %>");
    window.butterflyName = '<%= @butterfly.name %>'
    window.butterflyDescription ='<%= @butterfly.description %>' 
    window.butterflyPointValue ='<%= @butterfly.pointValue %>'
    window.butterflyImage = '<%= @butterfly.image %>'
  </script>
</div>
